<div>
  <div>
    <strong><%=qs.text%></strong>
    <div class="parent"><div class="img-container"><%= image_tag qs.url, "max-height" => "50" %></div></div>
    [<%= link_to 'Edit Question', edit_question_url(qs) %>
    | <%= link_to 'Delete', question_url(qs), :method=>'delete' ,:confirm=>'Are you sure?' %>]
  </div>
  <% if qs.answers %>
    <table class="table table_hover"
    <% qs.answers.each{ |an| %>
      <%= render('answers/answer_row', an: an) %>
    <% } %>
    </table>
  <% end%>
</div>
