<div>
  <div>
    <strong><%=qs.text%></strong>
    <% # Note:  Not caching a thumbnail slows this page down %>
    <div class="parent"><div class="img-container"><%= image_tag qs.url, "max-height" => "50" %></div></div>
    [<%= link_to 'Edit Question', edit_question_url(qs) %>
    | <%= link_to 'Delete', question_url(qs), :method=>'delete' ,:confirm=>'Are you sure?' %>
    ]
  </div>
  <% if qs.answers %>
    <table class="table table_hover"
    <% qs.answers.each{ |an| %>
      <%# This took a bit of design.  Since almost all the info is in the quiz, the only thing you need to know for the score
            is what was selected. Which answer is correct is stored in the quiz.  Instead of duplicating the entire quiz for
            each instance, I keep the instance state in score and refer everything back to the quiz.
      %>
      <% if score %>
        <%= render('answers/answer_row', an: an, is_selected: score.is_selected(qs.id, an.id), is_correct: an.correct) %>
      <% else %>
        <%= render('answers/answer_row', an: an, is_selected: false, is_correct: an.correct) %>
      <% end %>
    <% } %>
    </table>
  <% end%>
</div>
